

<div id="cityinfo">
    {% if cityOwned %}
        Vous êtes le citoyen d'honneur de {{ city.cities_name }}<br/>
        Depuis {{ city.cities_win_dt2 }}<br/>
        Votre score : {{ city.cities_win_score }} points <br/>
        Nombre de questions : {{ questions }} <br/>
        Vous perdez votre titre si bla bla bla<br/>
        <a href="battle.php?city={{ city.cities_id }}">Tenter ma chance</a>

    {% elseif cityFree %}
        {{ owner.users_pseudo }} est le citoyen d'honneur de {{ city.cities_name }}<br/>
        Depuis {{ city.cities_win_dt2 }}<br/>
        Son score : {{ city.cities_win_score }} points <br/>
        Nombre de questions : {{ questions }} <br/>
        Pour prendre son titre vous devez bla bla bla <br/>

    {% else %}
        Cette ville est libre, assiégez-la ! <br/>
        Score à faire : {{ city.cities_win_score }} points <br/>
        Nombre de questions : {{ questions }} <br/>
        Pour gagner cette ville vous devez bla bla bla <br/>
        <a href="battle.php?city={{ city.cities_id }}">Tenter ma chance</a>

    {% endif %}


</div>

