<html>
    <head>
    </head>

    <body>
        <div id="login">
        {% include "login.html.twig" %}
        </div>


        <p>Lorem ipsus bla bla bla</p>

        <table>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>Classe</td>
                <td>Etat</td>
            </tr>
        {% for city in cities %}
            <tr>
                <td>{{ city.cities_id }}</td>
                <td>{{ city.cities_name }}</td>
                <td>{{ city.cities_class }}</td>
                <td>{% if city.users_id == 0 %} <a href="cityInfo.php?city={{ city.cities_id }}">"Libre"</a>
                    {% elseif city.users_id == user.users_id %} "Moi"
                    {% else %} <a href="cityInfo.php?city={{ city.cities_id }}">"Occupé"</a>
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </table>

    </body>
</html>